  <section>
    <h1>inline formatting</h1>
    <h4>paired tokens</h4>
    <p>surrounding text with…</p>
    <ul>
      <li>one `*` means italics</li>
      <li>two `**` means bold</li>
      <li>three `***` means bold-italics</li>
      <li>one `_` means underline
        <ul>
          <li>but middle_of_word underlining (such as filenames) should be unaffected</li>
        </ul>
      </li>
      <li>one `~` means strikethrough</li>
      <li>one `=` means highlight</li>
      <li>one backtick \` means `fixed-width typeface`</li>
    </ul>
    <h4>super- and sub-scripts</h4>
    <ul>
      <li>superscripuse a `^`</li>
      <li>subscripwith a `~`</li>
    </ul>
    <p>a shortcut exists for superscript only where you may omit the parens for a single-word superscript:  exampland even example^</p>
    <h4>elegant characters</h4>
    <ul>
      <li>smart quotes: ‘single’, “double”</li>
      <li>dashes: en–dash and em—dash</li>
      <li>ellipsis: …</li>
      <li>symbols: ™, ©, ®, ±, ≠</li>
      <li>arrows: →, ←, ↔</li>
      <li>fractions: ¼, ½, ¾, ⅓, ⅔, ⅕, ⅖, ⅗, ⅘, ⅙, ⅚, ⅛, ⅜, ⅝, ⅞</li>
      <li>counts: 0<sup><u>st</u></sup>, 0<sup><u>th</u></sup>, 1<sup><u>st</u></sup>, 2<sup><u>nd</u></sup>, 3<sup><u>rd</u></sup>, 4<sup><u>th</u></sup>, … 9<sup><u>th</u></sup>, 10<sup><u>th</u></sup>, 11<sup><u>th</u></sup>, 12<sup><u>th</u></sup>, 13<sup><u>th</u></sup>, … 21<sup><u>st</u></sup>, 22<sup><u>nd</u></sup>, 23<sup><u>rd</u></sup>, 24<sup><u>th</u></sup>, …</li>
    </ul>
  </section>