  <section>
    <h1>paragraphs and whitespace</h1>
    <p>plain paragraph</p>
    <p>• unicode ♥︎ data ♠︎ in ♦︎ paragraph ♣︎</p>
    <p>this paragraph contains a special word which will cause our unittests to inject two spaces before the newline.  here’s the word:  SQUIGUILGMA<br> and again: SQUIGUILGMA<br> the reason is that in classic markdown, this should create linebreaks inside the output paragraph</p>
    <p>our preferred way is to use a backslash<br> at the end of a line<br> because that’s much less likely to be eaten by our text editor</p>
    <p>text with non-breaking spaces</p>
    <p>soft break:</p>
    <p>another soft break:</p>
    <p>blank line:</p>
    <p>block quote:</p>
    <blockquote>
      <p>this paragraph is quoted and is long enough, really it’s long enough, i promise you for really reals it’s long enough to have two lines.</p>
    </blockquote>
    <p>this paragraph is indented for some reason, and also has two lines</p>
    <p>but not:</p>
    <pre>
         this text is fenced,

   and as such is not a paragraph
    </pre>

    <blockquote>
      <p>let’s do paragraph alignment, and for fun, let’s do it inside a blockquote</p>
      <p> fully justified text </p>
      <p> left-aligned text </p>
      <p> centered text </p>
      <p> right-aligned text </p>
    </blockquote>
    <p> for extremely pedantic page details, HTML can be directly injected into a rightdown file.  for now, i’m extracting each tag pattern separately, which means that here in the body of my div it’s like i’m inside any other paragraph.  that is, inline formatting is allowed.  this differs from traditional markdown which would pass the whole block verbatim.  i may change this design choice later if it causes problems </p>
    <p>similarly, template-engine variables, tags, and comments should pass through without inline formatting</p>
  </section>