  <section>
    <h1>blocks with more blocks inside</h1>
  </section>
  <section>
    <h2>quotes</h2>
    <blockquote>
      <h2>quoted heading</h2>
      <p>quoted body content</p>
    </blockquote>
    <blockquote>
      <p>next quoted block; note that in traditional markdown this would likely be seen as the same quoted block</p>
      <blockquote>
        <p>quoted block inside quoted block</p>
        <blockquote>
          <h3>with a quoted heading inside that</h3>
        </blockquote>
        <p>text after the third block</p>
      </blockquote>
    </blockquote>
  </section>
  <section>
    <h2>tables</h2>
    <p>for fun, let’s put our table in a quote</p>
    <blockquote>
    </blockquote>
  </section>
  <section>
    <h2>lists</h2>
    <h3>much harder</h3>
    <p>simple interleaving:</p>
    <ol start="1">
      <li>one
        <ul>
          <li>one.one</li>
        </ul>
      </li>
      <li>two
        <ul>
          <li>two.one</li>
          <li>two.two</li>
        </ul>
      </li>
      <li>three
        <ul>
          <li>three.one</li>
          <li>three.two</li>
          <li>three.three</li>
        </ul>
      </li>
    </ol>
    <p>a line of normal paragraph text</p>
    <ol start="4">
      <li>another whole list
        <ul>
          <li>interleaved with a list that has enough extra text that it’s going to be wrapped to the next line, which should happen about here…
            <ul>
              <li>followed by another sub-list</li>
            </ul>
          </li>
          <li>this item has its own extra</li>
        </ul>
      </li>
    </ol>
    <ol type="A" start="4">
      <li>yet another list
        <ol type="A" start="1">
          <li>with a sub-list</li>
        </ol>
      </li>
    </ol>
    <p>this is an indented code block, and not a list:</p>
    <p>- indented too far for a list</p>
    <p>but this is a list:</p>
    <ul>
      <li>parent
        <ul>
          <li>child</li>
        </ul>
      </li>
    </ul>
    <p>these are all empty lists, and should be silently filtered out:</p>
    <p>thanks for playing with me today!</p>
  </section>